@import "tailwindcss";

:root {
  --bg: rgb(255, 248, 250);
  --base: #91172f;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination-bullet {
  background-color: rgb(48, 41, 41) !important; /* Active dot color */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--bg) !important; /* Active dot color */
  opacity: 1;
}

/* hide arrows on mobile and show on desktop */
.swiper-button-prev,
.swiper-button-next {
  display: none; /* hidden by default (mobile) */
  color: #ef4444 !important; /* red-500 for arrows */
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(244, 116, 116, 0.189); /* optional background */
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

/* show arrows on desktop (>=1024px) */
@media (min-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex !important;
  }
}
